pasados/
*.swp
*.pdf
.ycm_extra_conf.py
.color_coded
c_cpp_properties.json
.vscode/

# Notas de clase
*.bk

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.project
*.workspace
cmake-build-Debug/
.codelite/
